/* reset */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

/* main style */

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

body{
    background-image: url('https://source.unsplash.com/1600x900/?numbers');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
}

/* utility classes */

.text-dark{
    color: #111;
}

/* navbar */

#navbar{
    display: flex;
    justify-content: space-around;
    background: #333;
    color: #fff;
}

#navbar a{
    color: #fff;
}

#navbar h1{
    text-align: center;
    padding: 20px;
}

#navbar ul{
    list-style: none;
}
#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    text-align: center;
    padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #111;
}

/* main-section */

#main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Showcase */

#showcase{
    text-align: center;
    color: #fff;
    margin: 21vh 0 3vh 0;
    font-size: 3.7em;
}

/* math-box */

#math-box{
    height: 121vh;
    width: 50vw;
    margin: 3vh 0 3vh 0;
    padding: 7vh 0 3vh 0;
    background: #111;
    border-radius: 7px;
    text-align: center;
    color: #fff;
}

#math-box h3{
    margin:0 0 7vh 0;
    font-size: 3em;
}

/* form */

.num{
    padding: 0 7vh 3vh 7vh;
    margin:0 0 3vh 0;
    display: flex;
}

.num label{
    flex: 1;
    padding: 1vh;
    font-size: 1.7em;
    text-align: left;
}

.num input{
    flex: 2;
    width: 100%;
    height: 7vh;
    border-radius: 7px;
    font-size: 1.3em;
    padding: 0 0 0 1vw;
}

.num input:focus{
    outline: 0;
}

#submitButton{
    cursor: pointer;
    margin: 7vh auto 3vh auto;
    padding: 1vh 11vw 1vh 11vw;
    outline: 0;
    font-size: 2.7em;
    background: #fff;
    color: #111;
    border-radius: 11px;
}
#resetButton{
    cursor: pointer;
    padding: 1vh 7vw 1vh 7vw;
    font-size: 2.1em;
    background: #fff;
    color: #111;
    border-radius: 11px;
}

/* output */
#output-box{
    height: 370px;
    width: 770px;
    margin: 7vh auto 7vh auto;
    padding-top: 70px;
    background: #fff;
    border-radius: 7px;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.7em;
    color: #111;
}